# Required for cloud models
# TODO: Create config panel & delete this env vars
OPENAI_API_KEY=
OLLAMA_API_KEY=

# Required for web search
# TODO: Create config panel & delete this env var
TAVILY_API_KEY=

# In a production environment, set the value to "1" or "true"; otherwise, set it to "0" or "false" or anything or simply omit the parameter.
PRODUCTION=